DEPLOYER_KEY=
STAKER_KEY=
# use a separate key for AVS Operator
OPERATOR_KEY=

# edit foundry.toml for ETH RPC settings
ALCHEMY_API_KEY=
BASESCAN_API_KEY=
ETHERSCAN_API_KEY=

# Scripts tests depend on deployed contract instances which may
# not reflect local changes made to the code and lead to infuriating
# test failures.
# Set SKIP_SCRIPTS_TESTS to false to enable scripts tests.
SKIP_SCRIPTS_TESTS=true