[profile.default]
src = "src"
out = "out"
libs = ["lib"]
ffi = true
fs_permissions = [
  { access = "read-write", path = "./"},
]
evm_version = "Cancun"
# optimizer is enabled by default, can produce different bytecode and mess with contract verification
# optimizer = false

# Note: If DeployScripts tests run into OutofGas errors, could be a memory issue:
# https://github.com/foundry-rs/foundry/issues/3971
# memory_limit = 335544320

# Allow internal expectRevert to be used in tests
allow_internal_expect_revert = true


remappings = [
  "@chainlink/ccip/=lib/ccip/contracts/src/v0.8/ccip/",
  "@chainlink/ccip-vendor/=lib/ccip/contracts/src/v0.8/vendor/",
  "forge-std/=lib/forge-std/src/",
  "@6551/=lib/reference/src/",
  "@openzeppelin-v5-contracts/=lib/openzeppelin-contracts-upgradeable/lib/openzeppelin-contracts/contracts",
  "@openzeppelin-v5-contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts",
  "@eigenlayer-contracts=lib/eigenlayer-contracts/src/contracts",
    # Note: We use OpenZeppelin v4.7 to deploy EigenLayer contracts (as EigenLayer does)
  "@openzeppelin-v47-contracts/=lib/eigenlayer-contracts/lib/openzeppelin-contracts/contracts/",
    # Context dependent remappings to avoid conflicts
  "lib/openzeppelin-contracts-upgradeable:@openzeppelin/contracts-upgradeable/=lib/openzeppelin-contracts-upgradeable/contracts",
  "lib/openzeppelin-contracts-upgradeable:@openzeppelin/contracts/=lib/openzeppelin-contracts-upgradeable/lib/openzeppelin-contracts/contracts",
  "lib/eigenlayer-contracts:@openzeppelin/contracts-upgradeable/=lib/eigenlayer-contracts/lib/openzeppelin-contracts-upgradeable",
  "lib/eigenlayer-contracts:@openzeppelin/contracts/=lib/eigenlayer-contracts/lib/openzeppelin-contracts/contracts"
]

[rpc_endpoints]
localhost = "http://localhost:8545"
# Note: Free RPCs may sometimes fail
holesky = "https://holesky.drpc.org"
# holesky = "https://holesky.infura.io/v3/${INFURA_API_KEY}"
basesepolia = "https://sepolia.base.org"

[etherscan]
holesky = { key = "${ETHERSCAN_API_KEY}" }
basesepolia = { key = "${BASESCAN_API_KEY}" }
