# Server configuration
SERVER_PORT=3001

# RPC URLs
SEPOLIA_RPC_URL=https://sepolia.gateway.tenderly.co
BASE_SEPOLIA_RPC_URL=https://base-sepolia.gateway.tenderly.co

# Contract addresses
DELEGATION_MANAGER_ADDRESS=0x2604e5a6b77b5Ab95e38b6fA6fc1F5db5585F562

# Operator private keys (must be added to Eigenlayer)
OPERATOR_KEY1=
OPERATOR_KEY2=